<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body style="text-align: center">
    <form style="display: inline-block" action="{{ url_for('add') }}" method="POST">
        <label>Book Name</label>
        <input class="form-control" name="title" type="text" required>
        <label>Book Author</label>
        <input class="form-control" name="author" type="text" required>
        <label>Rating</label>
        <input class="form-control" name="rating" type="number" step="0.01" required>
        <button  class="btn btn-primary" style="margin-top:10px" type="submit">Add Book</button>
    </form>
</body>
</html>